<div *ngIf="authGuardService.isAdmin()">
  <form #formRef="ngForm">
    <div class="form-group">
      <label for="problemName">
        Problem Name
      </label>
      <input name="problemName" id="problemName" class="form-control" type="text" required 
      placeholder="Enter your fancy problem's name here:'" [(ngModel)]="newProblem.name">
    </div>
    <div class="form-group">
      <label for="problemDesc">
        Problem Description
      </label>
      <textarea name="problemDesc" id="problemDesc" class="form-control" 
      placeholder="Describe your fancy problem here:'" [(ngModel)]="newProblem.desc" rows="3">
      </textarea>
    </div>
    <div class="form-group">
      <label for="problemDifficulty">
        Problem Difficulty
      </label>
      <select name="problemDifficulty" id="problemDifficulty" class="form-control" [(ngModel)]="newProblem.difficulty">
        <option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{difficulty}}
        </option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary pull-right" (click)="addProblem()">
          Add New Problem
        </button>
      </div>
    </div>
    <br>
  </form>
</div>